<?xml version="1.0" encoding="UTF-8"?>
<collection xmlns="http://exist-db.org/collection-config/1.0">
    <index xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <lucene>
            <analyzer class="org.apache.lucene.analysis.standard.StandardAnalyzer"/>
            <text qname="tei:div"/>
        </lucene>
        <create qname="@target" type="xs:string"/>
        <create qname="@corresp" type="xs:string"/>
        <create qname="@type" type="xs:string"/>
        <create qname="@xml:id" type="xs:string"/>
        <create qname="@id" type="xs:string"/>
        <create qname="@rend" type="xs:string"/>
        <create qname="@n" type="xs:string"/>
        <create qname="tei:idno" type="xs:string"/>
    </index>

    <!-- Replication -->
    <triggers>
        <trigger class="org.exist.jms.replication.publish.ReplicationTrigger">

            <parameter name="java.naming.factory.initial" value="org.apache.activemq.jndi.ActiveMQInitialContextFactory"/>

            <parameter name="java.naming.provider.url" value="@provider-url@"/>

            <parameter name="connection-factory" value="ConnectionFactory"/>

            <parameter name="destination" value="@destination@"/>
        </trigger>
    </triggers>
</collection>
